
@{
    ViewData["Title"] = "Mensagem ao Excluir Cliente PF";
}




<div class="text-center">
    <h1 class="text-danger">Atenção</h1>
    <p>Este Cliente não pode ser excluido, pois possui conta cadastrada!</p>
</div>


